.signup
  display flex
  flex-direction column

  & > *:not(:first-child):not([class*=error])
    margin-top 1rem
    
  &__confirm-error
    display none
    color #ab4027
    font-size 1.2rem
    font-family SourceSansProRegular, sans-serif
    padding 0.2rem 1rem
    background-color #eaccc4
    border-radius 4px
    margin-top 0.2rem

    &_active
      display block

  &__submit
    display flex
    flex-wrap wrap
    align-items center
    justify-content flex-end