.percentage
  display: inline-flex;
  width: 8rem;
  height: 8rem;

  &__active-border
    flex-basis: 100%;
    display: flex;
    padding: 5px;
    background-color color-second
    border-radius 50%
    background-image: linear-gradient(90deg, transparent 50%, #fff 50%), linear-gradient(90deg, #fff 50%, transparent 50%);

  &__mask-circle
    flex-basis 100%
    display flex
    justify-content center
    align-items center
    background-color white
    border-radius 50%

  &__percent
    font-size 3.25rem
    margin-top 0.3rem
    color #9d9d9d
    font-family LatoLight, sans-serif