//- options.percent - проценты (от 0 до 100)

mixin percentage(options)
  if !options
    - options = {}

  .percentage
    .percentage__active-border.js-percentage__active-border(data-percent = options.percent || 0)
      .percentage__mask-circle
        span.percentage__percent= options.percent || 0