include ../button/button
include ../input/input

mixin signin()
  form.signin.js-signin
   +input({
     name: 'login',
     type: 'text',
     placeholder: 'Login or email',
     required: true
   })
   +input({
     name: 'password',
     type: 'password',
     placeholder: 'Password',
     required: true
   })
   .signin__submit
     +input({
       name: 'remember',
       type: 'checkbox',
       label: 'Remember me'
     })
     +button({text: 'Sign in', isSubmit: true})
