.input
  display flex
  align-items stretch

  &__element
    width 100%
    background-color #e5e5e5
    color #888888
    font-size 1.2rem
    font-family SourceSansProRegular, sans-serif
    padding 0.43rem 1rem
    border none
    border-radius 4px

    &:focus
      outline: 0.3rem auto #4d90fe

    &[type='checkbox']
    &[type='radio']
      display none

  &__label
    display flex
    align-items center

  &__label-text
    color #888888
    font-size 1.2rem
    font-family SourceSansProRegular, sans-serif
    padding 0.43rem 1rem

  &__toggle
  &__tick-box
    flex 0 0 auto

  &__validation
    position relative
    display flex
    justify-content center
    align-items center
    border-radius 4px
    min-width 6rem
    margin-left 3%

    &::after
      content ''
      display block
      position absolute
      background-color inherit
      transform rotate(45deg)
      width 0.5rem
      height 0.5rem
      left -0.25rem
      border-bottom-left-radius 1px

  &__validation-ok
  &__validation-error
    text-transform uppercase
    font-family LatoBlack, sans-serif
    font-weight bold
    font-size 0.9rem
    color white

  &__element
    &:valid + .input__validation
      background-color color-first

      & .input__validation-ok
        display inline
      & .input__validation-error
        display none

    &:invalid + .input__validation
      background-color color-second

      & .input__validation-ok
        display none
      & .input__validation-error
        display inline