extends ../base/base

include ../../components/activity-card/activity-card
include ../../components/news/news
include ../../components/event/event

block title
  | Activity Page

block main
  - data = htmlWebpackPlugin.options.getData()

  +layout__container({mix: 'p-activity', wrap: 'wrap'})
    h1.p-activity__title News & events
    for item in data.activityes
      +activity-card({image: item.image})
        if item.type === 'news'
          +news(item.data)
        else if item.type === 'event'
          +event(item.data)