extends ../base/base

include ../../components/news/news
include ../../components/event/event

append variables
  include ./activity-data

block title
  | Activity Page

block main
  +layout__container({mix: 'p-activity', wrap: 'wrap'})
    h1.p-activity__title News & events
    for item in locals.activityes
      if item.type === 'news'
        +news(item.data)
      else if item.type === 'event'
        +event(item.data)