@import '~theme/variables.scss';

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0.25rem;
  user-select: none;
  vertical-align: bottom;
  color: $color-first;

  &__element {
    width: 100%;
    min-width: 9.8rem;
    padding: 0.75rem 1.1rem 0.55rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
    border: 0.1rem solid $color-first;
    border-radius: 0.25rem;
    outline: none;
    background-color: $color-first;
    box-shadow: 0 0.25rem 0 0 $color-first-dark;
    font-family: LatoBlack, sans-serif;
    font-size: 1.04rem;
    font-weight: bold;

    &[type='submit']:focus {
      outline: 0.3rem auto #4d90fe;
    }
  }

  &__ripple-effect {
    position: absolute;
    z-index: 1;
    width: 1px;
    height: 1px;
    animation: ripple-animation 1s;
    border-radius: 50%;
    background: #fafafa;
  }

  &_small &__element {
    min-width: 6.5rem;
    padding: 0.45rem 0.9rem 0.2rem;
    font-size: 0.87rem;
  }

  &_error {
    color: $color-second;
  }

  &_error &__element {
    border-color: $color-second;
    background-color: $color-second;
    box-shadow: 0 0.25rem 0 0 $color-second-dark;
  }

  &_pressed {
    padding-top: 0.25rem;
    padding-bottom: 0;
  }

  &_pressed &__element {
    box-shadow: none;
  }

  &.button_inverted &__element {
    color: inherit;
    background-color: white;
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(50);
    opacity: 0;
  }
}
