.menu
  position relative
  flex 1 0 auto
  display flex
  justify-content flex-end

  &__button
    display flex
    border 1px solid white
    border-radius 0.3rem
    padding 0.4rem 0.6rem
    background-color color-first

    +media-breakpoint-up(sm)
      display none

    &:hover
      background-color color-first-dark

    & svg
      width: 2.5rem

  &__list
    display none

    +media-breakpoint-up(sm)
      display flex

    +media-breakpoint-down(sm)
      &_open
        display flex
        position absolute
        z-index 10
        flex-direction column
        top 100%
        right -2rem
        padding 1rem 2rem 2rem
        background-color #4eb7a8

  &__item
    font-family sans-serif
    font-weight bold
    font-size 1.2rem
    text-transform uppercase
    text-decoration none
    color white
    border 1px solid white
    border-radius 0.3rem
    padding 1rem 2rem
    background-color color-first
    text-align center

    &:not(:first-child)
      margin-left 1rem

      +media-breakpoint-down(sm)
        margin-left 0
        margin-top 1rem

    &:hover
      background-color color-first-dark