//-
  options.textOn - текст Вкл. (по-умолчанию 'on')
  options.textOff - текст Выкл. (по-умолчанию 'off')
  options.state - состояние выключателя (true - включен, false - выключен, по-умолчанию false)

mixin toggle(options)
  if !options
    - options = {}

  .toggle.js-toggle(class = options.state ? 'toggle_on' : '')
    .toggle__text
      .toggle__text-on= options.textOn || 'on'
      .toggle__text-off= options.textOff || 'off'
    .toggle__switcher
      .toggle__switch