toggle_height = 2rem

.toggle
  position relative
  display inline-block
  overflow hidden
  cursor pointer
  width (toggle_height * 2.5)
  height toggle_height
  border-radius (toggle_height / 2)
  background-color #e5e5e5
  transition background-color 0.2s ease-in

  &__text
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width 200%
    margin-left -100%
    height toggle_height
    transition margin 0.2s ease-in

  &__switcher
    padding (toggle_height / 8)
    width toggle_height
    transition width 0.2s ease-in

  &__switch
    width (toggle_height * 6 / 8)
    height (toggle_height * 6 / 8)
    border-radius 50%
    background-color white
    margin-left auto

  &__text-on
  &__text-off
    float left
    overflow hidden
    width 50%
    font-family LatoBlack
    font-size (toggle_height / 2)
    text-transform uppercase
    color white

  &__text-on
    padding-right (toggle_height * 6 / 8)

  &__text-off
    padding-left (toggle_height * 6 / 8)

  &_on
    background-color color-first

    & .toggle__text
      margin-left 0

    & .toggle__switcher
      width 100%