append scripts
  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')

//-
  options.coord - массив c координатами ( [X, Y] )
  options.address - адрес

mixin location(options)
  if !options
    - options = {}

  .location.js-location(data-coord= JSON.stringify(options.coord || []))
    .location__widget.js-location__widget
    .location__info
      span.location__slogan Meet us!
      .location__adress!= options.address || ''
      .location__icon
        include ./img/crosshair.svg
      .location__icon
        include ./img/map-marker.svg