.location
  position relative
  overflow hidden
  border-radius 0.3rem
  z-index 3000

  &__widget
    height 17rem

    & > ymaps
      width 100% !important

  &__info
    display flex
    align-items center
    padding 3% 4.5%
    font-family LatoLight, sans-serif
    font-size 2.5rem
    background-color color-second
    color white

    & > *:not(:first-child)
      margin-left 4%

  &__slogan
    flex-shrink 0

  &__adress
    flex-grow 1
    font-family LatoBlack, sans-serif
    font-weight bold
    font-size 1.1rem
    text-transform uppercase
    text-align left

  &__icon
    display flex
    flex-shrink 0
    flex-basis 2.2rem
    height 2.2rem

    & svg path
      fill white