extends ../base/base

include ../../components/layout/layout
include ../../components/button/button
include ../../components/arrow-button/arrow-button
include ../../components/percentage/percentage
include ../../components/pie-chart/pie-chart
include ../../components/slider/slider
include ../../components/stages/stages
include ../../components/feedback/feedback
include ../../components/toggle/toggle
include ../../components/tick-box/tick-box
include ../../components/search/search
include ../../components/user-profile/user-profile
include ../../components/drop-down/drop-down
include ../../components/news/news
include ../../components/event/event
include ../../components/location/location
include ../../components/calendar/calendar
include ../../components/messager/messager

block variables
  include ./demo-data

block title
  | Flat Starter Kit Demo

block main
  +layout__container({mix: 'p-demo', basis: 700, align: 'center', wrap: 'wrap'})
    h2 standard buttons
    +layout__container({wrap: 'wrap', basis: 500, align: 'center'})
      +layout__container({mix: 'p-demo__row', wrap: 'wrap'})
        +button({size: 'small'})
        +button()
        +button({type: 'error'})
        +button({type: 'error', size: 'small'})
      +layout__container({mix: 'p-demo__row', wrap: 'wrap'})
        +button({isInverted: true, size: 'small'})
        +button({isInverted: true})
        +button({isInverted: true, type: 'error'})
        +button({isInverted: true, type: 'error', size: 'small'})
    h2 arrow buttons
    +layout__container({mix: 'p-demo__row', basis: 450, align: 'center', wrap: 'wrap'})
      +arrow-button({direction: 'left', condition: 'inactive'})
      +arrow-button({direction: 'right', condition: 'inactive'})
      +arrow-button({direction: 'up', condition: 'disabled'})
      +arrow-button({direction: 'down', condition: 'disabled'})
      +arrow-button({direction: 'left'})
      +arrow-button({direction: 'right'})
    h2 percentages / pie chart
    +layout__container({mix: 'p-demo__row', wrap: 'wrap'})
      +percentage()
      +percentage({percent: 38})
      +percentage({percent: 62})
      +percentage({percent: 89})
      +pie-chart({items: [1, 3, 4, 5]})
    h2 sliders
    +layout__container({mix: 'p-demo__row', wrap: 'wrap'})
      +slider({tooltipEnabled: true, color: '#4eb7a8'})
      +slider({scaleEnabled: true, color: '#e75735'})
    h2 stages
    +stages({length: 5, progress: 3})
    h2 form elements
    +layout__container({wrap: 'wrap'})
      +layout__container({mix: 'p-demo__column', align: 'left', display: 'block'})
        +feedback()
      +layout__container({mix: 'p-demo__column', align: 'right', wrap : 'wrap'})
        h2 toggles
        +layout__container({mix: 'p-demo__row', basis: 150, align: 'center'})
          +toggle()
          +toggle({state: true, textOn: 'yes', textOff: 'no'})
        h2 tick boxes
        +layout__container({mix: 'p-demo__row', basis: 100, align: 'center'})
          +tick-box()
          +tick-box({enabled: true})
    +layout__container({wrap: 'wrap'})
      +layout__container({mix: 'p-demo__column', align: 'left', display: 'block'})
        h2 search / drop down
        +search()
        +drop-down({items: locals.dropDownOptions, name: 'test'})
      +layout__container({mix: 'p-demo__column', align: 'right', display: 'block'})
        h2 user profile
        +layout__container({mix: 'p-demo__row', wrap: 'wrap'})
          for profile in locals.profiles
            +user-profile(profile)
    h2 news & events
    +layout__container({wrap: 'wrap'})
      +layout__container({mix: 'p-demo__column', align: 'left', display: 'block'})
        +news(locals.news[0])
      +layout__container({mix: 'p-demo__column', align: 'right', display: 'block'})
        +event(locals.events[0])
    h2 location
    +location(locals.location)
    +layout__container({wrap: 'wrap'})
      +layout__container({mix: 'p-demo__column', align: 'left', display: 'block'})
        h2 calendar
        +calendar()
      +layout__container({mix: 'p-demo__column', align: 'right', display: 'block'})
        h2 messaging
        +messager(locals.messagers[0])