.p-demo
  padding-left 6%
  padding-right 6%
  padding-top 2rem


  & h2
    flex-basis 100%

  & .stages
    flex-basis 100%

  & .drop-down
    margin-top 1.5rem

  &__row
    justify-content space-around
    align-items flex-end

    &:not(:first-child)
      margin-top 1.4rem

    & .slider
      align-self flex-start
      flex-basis 45%

  &__column
    flex-basis 45%
