@import '~theme/variables.scss';

.p-demo {
  padding: 2rem;

  & {
    h2 {
      flex-basis: 100%;
    }
  }

  .location,
  .stages {
    flex-basis: 100%;
  }

  .drop-down {
    margin-top: 1.5rem;
  }

  &__row {
    justify-content: space-around;
    align-items: flex-end;
  }

  & + & {
    margin-top: 1.4rem;
  }

  & .slider {
    flex-basis: 100%;
    align-self: flex-start;

    @include column($xs, 6);
  }

  &__column {
    @include column($xs, 6);
  }
}
