@import '~theme/variables.scss';

.p-profile {
  padding: 0 1rem;

  & > * {
    flex-basis: 100%;
  }

  &__settings-title {
    padding-bottom: 0;
  }

  &__basic-info,
  &__contact-info,
  &__interests {
    @include column($xs, 6);
    @include column($sm, 4);

    & > *:not(:first-child) {
      margin-top: 1rem;
    }
  }
}
