.arrow-button
  position relative
  outline none
  cursor pointer
  background-color color-first
  color white
  border-radius 50%
  border 3px solid color-first
  font-size 3.5rem
  vertical-align middle
  text-align center
  width 50px
  height 50px

  &_inactive
    background-color white
    color color-first

  &_disabled
    background-color color-disabled
    border-color color-disabled

  &__arrow
    font-family FontAwesome

    &_left::after
      display block
      margin-left -4px
      margin-top -2px
      content '\f104'

    &_right::after
      display block
      margin-right -4px
      margin-top -2px
      content '\f105'