.event
  display flex
  align-items stretch
  border-radius 0.3rem
  height: 17.65rem;

  &__image-frame
    overflow hidden
    border-bottom-left-radius 0.3rem
    border-top-left-radius 0.3rem
    width 35%
    background url(./img/default.jpg) no-repeat
    background-size cover
    display flex
    align-items stretch

  &__image
    max-width 100%
    max-height 100%
    object-fit cover

  &__preview
    display flex
    flex-direction column
    align-items stretch
    justify-content space-between
    width 65%
    padding 6.5% 7.5%
    border-top-right-radius 0.3rem
    border-bottom-right-radius 0.3rem
    background-color color-first
    color white
    text-align left

  &__description
    display flex
    flex-direction column
    align-items stretch

  &__title
    font-family LatoBlack, sans-serif
    font-weight bold
    text-transform uppercase
    font-size 1.15rem
    overflow hidden
    flex-shrink 0
    text-overflow ellipsis

  &__date
    display flex
    align-items baseline
    justify-content space-around
    flex-shrink 0

  &__day
    font-family LatoLight, sans-serif
    font-size 6rem
    line-height 6rem

  &__month
    font-family LatoLight, sans-serif
    font-size 2.5rem

  &__text
    font-family LatoRegular, sans-serif
    overflow hidden
    text-overflow ellipsis

  &__button-add
    text-align center
    margin-top 5%