extends ../base/base

include ../../components/user-profile/user-profile
include ../../components/toggle/toggle

block variables
  include ./home-data

block title
  | Home Page

block main
  if locals.isToggleEnabled
    +toggle({
      state: true
    })
  for profile in locals.profiles
    +user-profile(profile)