.layout
  height 100%
  display flex
  flex-direction column

  &__header
    display flex
    flex 0 0 auto

  &__main
    display flex
    flex 1 0 auto

  &__footer
    display flex
    flex 0 0 auto

  &__container
    display flex
    flex 1 1 100%

    &_block
      display block

    &_left
      flex-grow 0
      margin-right auto
    &_right
      flex-grow 0
      margin-left auto
    &_center
      flex-grow 0
      margin-left auto
      margin-right auto

    &_column
      flex-direction column
      & > .layout__container
        flex-basis auto
    &_column-reverse
      flex-direction column-reverse
      & > .layout__container
        flex-basis auto
    &_row-reverse
      flex-direction row-reverse

    &_wrap
      flex-wrap wrap
    &_wrap-reverse
      flex-wrap wrap-reverse

    &_basis-auto.layout__container
      flex-basis auto
    for basis in (1..80)
      basis = basis * 50
      &_basis-{basis}.layout__container
        flex-basis '%spx' % basis

    for grow in (0..10)
      &_grow-{grow}
        flex-grow grow

    for shrink in (0..10)
      &_shrink-{shrink}
        flex-shrink shrink