.layout
  height 100%
  display flex
  flex-direction column

  &__header
    display flex
    flex 0 0 auto

  &__main
    flex 1 0 auto

  &__footer
    display flex
    flex 0 0 auto

  &__flex-column
    display flex
    flex 1 1 auto

  &__column
    flex 1 1 auto

  &__center
    margin-left auto
    margin-right auto

    for width in (1..80)
      width = width * 50
      &_w{width}
        max-width '%spx' % width