*
  box-sizing border-box
  padding 0
  margin 0

html
  font-size 12px

html
body
  height 100%

h2
  text-align center
  font-family LatoBlack, sans-serif
  text-transform uppercase
  font-size 1.67rem
  padding 20px

.clearfix::after
  content ""
  display table
  clear both