*
  box-sizing border-box
  padding 0
  margin 0

html
  font-size 8px

  +media-breakpoint-up(320px)
    font-size 10px

  +media-breakpoint-up(xs)
    font-size 12px

html
body
  height 100%

h1
h2
  text-align center
  font-family LatoBlack, sans-serif
  text-transform uppercase
  color #777;

h1
  font-size 2rem

h2
  font-size 1.67rem
  padding 1rem

.clearfix::after
  content ""
  display table
  clear both