/***** Variables *****/
xs = 575px
sm = 767px
md = 991px
lg = 1199px
xl = 1440px

color-first = #4eb7a8
color-second = #e75735
color-first-dark = #28a290
color-second-dark = #bf3e1f
color-disabled = #e5e5e5

/***** Mixins *****/
media-breakpoint-up(width)
  @media (min-width: width + 1)
    {block}

media-breakpoint-down(width)
  @media (max-width: width)
    {block}

media-breakpoint-between(min-width, max-width)
  @media (min-width: width + 1) and (max-width: max-width)
    {block}

column(screen-width, count)
  padding-left 1rem
  padding-right 1rem
  padding-bottom 1rem
  flex-shrink 0
  +media-breakpoint-up(screen-width)
    flex-basis (100% / 12 * count)