/***** Sprite *****/
@import './sprite-generated/sprite.styl'
sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
}

/***** Variables *****/
color-first = #4eb7a8
color-second = #e75735
color-first-dark = #28a290
color-second-dark = #bf3e1f
color-disabled = #e5e5e5
