.event
  flex 1 1
  display flex
  flex-direction column
  align-items stretch
  padding 1.5rem
  background-color color-first
  color white
  text-align left
  overflow hidden

  & > *:not(:first-child)
    margin-top 0.3rem

  &__date
    display flex
    align-items baseline
    flex-shrink 0

  &__day
    font-family LatoLight, sans-serif
    font-size 6rem
    line-height 6rem
    margin-right 0.5rem

  &__month
    font-family LatoLight, sans-serif
    font-size 2.5rem

  &__title
    font-family LatoBlack, sans-serif
    font-weight bold
    text-transform uppercase
    font-size 1.15rem
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  &__description
    flex 1 1
    font-family LatoRegular, sans-serif
    overflow hidden

  &__button-add
    text-align center