@import '~theme/variables.scss';

.event {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex: 1 1;
  padding: 1.5rem;
  text-align: left;
  color: white;
  background-color: $color-first;
  align-items: stretch;

  & > *:not(:first-child) {
    margin-top: 0.3rem;
  }

  &__date {
    display: flex;
    flex-shrink: 0;
    align-items: baseline;
  }

  &__day {
    margin-right: 0.5rem;
    font-family: LatoLight, sans-serif;
    font-size: 6rem;
    line-height: 6rem;
  }

  &__month {
    font-family: LatoLight, sans-serif;
    font-size: 2.5rem;
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-family: LatoBlack, sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
  }

  &__description {
    overflow: hidden;
    flex: 1 1;
    font-family: LatoRegular, sans-serif;
  }

  &__button-add {
    text-align: center;
  }
}
