extends ./base

include ../components/user-profile/user-profile

block title
  | Profile Page

block body
  -
    var data = {
      profile: {
        name: 'John Doe',
        profession: 'UX designer',
        photo: 'face1.jpg',
        facebook: 'https://fb.com'
      }
    }

  +user-profile(data.profile)
