-
  locals.menuItems = [
    {
      name: 'demo',
      href: '/demo.html'
    }, {
      name: 'profile',
      href: '/profile.html'
    }, {
      name: 'news & events',
      href: '/activity.html'
    }
  ]
  locals.guestMneuItems = [
    {
      name: 'sign in',
      href: '/signin.html'
    }, {
      name: 'sign up',
      href: '/signup.html'
    }
  ]