include ../menu/menu

//-
  options.menuItems - массив елементов меню

mixin header(options)
  if !options
    - options = {}

  .header
    a.header__logo(href = '/home.html')
      | Flat
    .header__menu
      +menu({items: options.menuItems})