tick-box_height = 2rem

.tick-box
  height tick-box_height
  width tick-box_height
  border-radius 50%
  background-color #e5e5e5
  font-size (tick-box_height * 3 / 5)
  display inline-flex
  justify-content center
  align-items center
  transition background-color 0.2s, color 0.2s

  &_enable
    background-color color-first

    & .tick-box__check-icon svg path
      fill white

  &__check-icon
    height 60%
    width 60%

    & svg path
      fill #c0c0c0