.messager
  display flex
  flex-direction column
  align-items stretch

  &__user-name
    overflow hidden
    text-overflow ellipsis
    background-color color-first
    color white
    font-family LatoLight, sans-serif
    font-size 2.5rem
    text-align center
    padding 8% 5%
    border-top-left-radius 0.3rem
    border-top-right-radius 0.3rem

  &__user-profile
    position relative
    display flex
    justify-content center
    background-color color-first-dark
    height 3.8%

    & .user-profile
      margin-bottom -50%

  &__user-profile-vert-aligner
    position absolute
    bottom 0

  &__body
    display flex
    flex-direction column
    align-items stretch
    padding 8%
    background-color #f2f2f2
    font-family LatoBold, sans-serif
    font-weight bold

    & > *:not(:last-child)
      margin-bottom 8%

  &__links
    display flex
    justify-content space-between
    font-family FontAwesome
    color #8e8d8d
    font-size 1.7rem
    padding 0 1%

  &__link-message
  &__link-photo
    text-decoration none
    color inherit

  &__link-message::before
    display block
    content '\f075'

  &__link-photo::before
    display block
    content '\f030'

  &__chat-wrapper
    overflow hidden
    position relative

    &::after
    &::before
      content ''
      display block
      position absolute
      width 100%
      height 0.5rem
      z-index 1

    &::before
      top 0
      background-image linear-gradient(to top, transparent, #f2f2f2)

    &::after
      bottom 0
      background-image linear-gradient(to bottom, transparent, #f2f2f2)

  &__chat-scroller
    max-height 300px
    overflow-y scroll

    &::-webkit-scrollbar {
      width 0
    }

  &__chat > *:not(:last-child)
    margin-bottom 4%

  &__message
    position relative
    display flex
    align-items center
    background-color white
    color #868686
    border-radius 0.5rem
    text-align left
    font-size 1.2rem
    line-height 1.3rem
    padding 7%
    padding-bottom 8.5%

  &__message_in
    margin-right 10%
    margin-left 0.5rem

    &::after
      content ''
      display block
      position absolute
      background-color inherit
      transform rotate(45deg)
      width 0.5rem
      height 0.5rem
      left -0.25rem
      border-bottom-left-radius 1px

  &__message_out
    margin-left 10%
    margin-right 0.5rem

    &::after
      content ''
      display block
      position absolute
      background-color inherit
      transform rotate(45deg)
      width 0.5rem
      height 0.5rem
      right -0.25rem
      border-top-right-radius 1px

  &__input
    background-color #e5e5e5
    color #777777
    border-radius 0.5rem
    border 0.3rem solid white
    text-align left
    font-size 1.2rem
    line-height 1.3rem
    padding 7%
    height 14%
    resize none
    font-family  inherit

    &:focus
      outline none

  &__btn-submit .button
    width 100%
