//-
  options.user - объект с данными пользователя идентичный передаваемому в User-profile
  options.messages - массив сообщений.
  options.messages[0].isIncoming - флаг входящего сообщения
  options.messages[0].text - тест сообщения

include ../user-profile/user-profile
include ../button/button

mixin messenger(options)
  if !options
    - options = {}
  if !options.user
    - options.user = {}
  if !options.messages
    - options.messages = []

  .messenger.js-messenger
    .messenger__user
      .messenger__user-name #{options.user.name}
      .messenger__user-profile
        +user-profile(options.user)
    .messenger__body
      .messenger__links
        a(
          href = '/mock-address/change-me'
          target = '_blank'
          rel = 'noopener noreferrer'
        ).messenger__link
          include ./img/message.svg
        a(
          href = '/mock-address/change-me'
          target = '_blank'
          rel = 'noopener noreferrer'
        ).messenger__link
          include ./img/photo-camera.svg
      .messenger__chat-wrapper
        .messenger__chat-scroller.js-messenger__chat-scroller
          .messenger__chat.js-messenger__chat
            for message in options.messages
              .messenger__message(class = message.isIncoming ? 'messenger__message_in' : 'messenger__message_out')
                | #{message.text}
      textarea.messenger__input.js-messenger__input
      .messenger__btn-submit.js-messenger__btn-submit
        +button({text: "reply"})