.feedback
  & > *:not(:first-child)
    margin-top 1rem

  &__validation
    position relative
    display flex
    justify-content center
    align-items center
    border-radius 4px
    min-width 6rem
    margin-left 3%

    &::after
      content ''
      display block
      position absolute
      background-color inherit
      transform rotate(45deg)
      width 0.5rem
      height 0.5rem
      left -0.25rem
      border-bottom-left-radius 1px

  &__validation-ok
  &__validation-error
    text-transform uppercase
    font-family LatoBlack, sans-serif
    font-weight bold
    font-size 0.9rem
    color white

  &__input-text
  &__input-email
    &:valid + .feedback__validation
      background-color color-first

      & .feedback__validation-ok
        display inline
      & .feedback__validation-error
        display none

    &:invalid + .feedback__validation
      background-color color-second

      & .feedback__validation-ok
        display none
      & .feedback__validation-error
        display inline

  &__submit
    text-align right