.slider

  & &__widget.ui-widget-content
    margin 0 7.5px
    border none
    background-color #e5e5e5
    height 5px

  & &__handle.ui-slider-handle
    width 20px
    height 20px
    border-radius 50%
    border none
    top -7.5px
    margin-left -10px
    display flex
    justify-content center
    cursor pointer

    &:focus
      outline none

    &.ui-state-active
      border none
      color inherit

  &__handle-tooltip
    background-color inherit
    border-radius 5px
    padding 4px 10px
    color white
    font-size 1.1rem
    font-family LatoBlack, sans-serif
    font-weight bold
    position absolute
    bottom 140%
    display none
    justify-content center

    &_active
      display flex

    &::before
      content ''
      display block
      background-color inherit
      transform rotate(45deg)
      width 6px
      height 6px
      position absolute
      top 89%
      border-bottom-right-radius 1px

  &__scale
    display flex
    justify-content space-between
    margin-top 9px
    padding 0 5px

  &__scale-item
    font-family LatoBlack, sans-serif
    font-weight bold
    font-size 0.9rem
    color #d1d1d1