.footer
  flex 1 0 auto
  display flex
  justify-content space-between
  font-family sans-serif
  font-size 1.2rem
  padding 2rem 2rem
  color white

  &__nav
    display flex
    flex-wrap wrap

  &__nav-item
    color white
    margin-right 1.5rem
