.arrow-button
  position relative
  outline none
  cursor pointer
  background-color color-first
  border-radius 50%
  border 3px solid color-first
  font-size 3.5rem
  vertical-align middle
  text-align center
  width 50px
  height 50px

  &_inactive
    background-color white

    & .arrow-button__arrow svg path
      fill color-first

  &_disabled
    background-color color-disabled
    border-color color-disabled

  &__arrow
    height 70%
    weight 70%

    & svg path
      fill white

    &_left
      margin-left -4px

    &_right
      margin-right -4px

    &_up
      margin-top -4px

    &_down
      margin-bottom -4px