.arrow-button
  display flex
  justify-content center
  text-align -moz-center
  outline none
  cursor pointer
  background-color color-first
  border-radius 50%
  border 3px solid color-first
  width 4.2rem
  height 4.2rem

  & svg
    width 65%
    height 65%

  & svg path
    fill white

  &_inactive
    background-color white

    & svg path
        fill color-first

  &_disabled
    background-color color-disabled
    border-color color-disabled

  &_left
    & svg
      margin-right 0.3rem

  &_right
    & svg
      margin-left 0.3rem

  &_up
    & svg
      margin-bottom 0.3rem

  &_down
    & svg
      margin-top 0.3rem