//-
  options.direction - направление стрелки ('left', 'right', 'up', 'down')
  options.condition - состояние кнопки ('', 'inactive', 'disabled')

mixin arrow-button(options)
  if !options
    - options = {}
  if !options.direction
    - options.direction = 'left'
  -
    var classes = ''
    classes += options.condition ? ' arrow-button_' + options.condition : ''
    classes += options.direction ? ' arrow-button_' + options.direction : ' arrow-button_left'

  button.arrow-button(class = classes)
    case options.direction
      when 'left'
        include ./img/left.svg
      when 'right'
        include ./img/right.svg
      when 'up'
        include ./img/up.svg
      when 'down'
        include ./img/down.svg