//-
  options.direction - направление стрелки ('left', 'right', 'up', 'down')
  options.condition - состояние кнопки ('', 'inactive', 'disabled')

mixin arrow-button(options)
  if !options
    - options = {}

  button.arrow-button(class = options.condition ? 'arrow-button_' + options.condition : '')
    .arrow-button__arrow(class = options.direction ? 'arrow-button__arrow_' + options.direction : 'arrow-button__arrow_left')