//options.photo - ссылка на фото
//options.name - имя
//options.profession - профессия
//options.facebook - ссылка на страничку
//options.twitter - ссылка на страничку
//options.instagram - ссылка на страничку

mixin user-profile(options)
  if !options
    - var options = {}

  .user-profile
    .user-profile__frame
      if options.photo
        img.user-profile__photo(src=require('./components/' + options.photo), alt = 'photo')
    .user-profile__tooltip(
      class = (options.facebook || options.twitter || options.instagram) ? 'user-profile__tooltip_active' : ''
    )
      span.user-profile__name= options.name ? options.name : ''
      span.user-profile__profession= options.profession ? options.profession : ''
      .user-profile__social-container
        a.user-profile__social(
          href = options.facebook ? options.facebook : false
          class = options.facebook ? 'user-profile__social_active' : ''
          target = '_blank'
        )
          i.fa.fa-facebook-f
        a.user-profile__social(
          href = options.twitter ? options.twitter : false
          class = options.twitter ? 'user-profile__social_active' : ''
          target = '_blank'
        )
          i.fa.fa-twitter
        a.user-profile__social(
          href = options.instagram ? options.instagram : false
          class = options.instagram ? 'user-profile__social_active' : ''
          target = '_blank'
        )
          i.fa.fa-instagram