//-
  options.textTrue - текст Вкл. (по-умолчанию 'yes')
  options.textFalse - текст Выкл. (по-умолчанию 'no')
  options.state - состояние выключателя (true - включен, false - выключен, по-умолчанию false)
  options.mix - любая строка, будет добавлена в классы компонента

mixin toggle(options)
  if !options
    - options = {}
  -
    var classes = ''
    classes += options.mix || ''
    classes += ' ' + (options.state ? 'toggle_on' : '')

  .toggle.js-toggle(class = classes)
    .toggle__text
      .toggle__text-on= options.textOn || 'yes'
      .toggle__text-off= options.textOff || 'no'
    .toggle__switcher
      .toggle__switch