extends ../base/base-guest

include ../../components/toggle/toggle
include ../../components/signup/signup

block variables

block title
  | Sign Up Page

block main
  +layout__container({mix: 'p-signin'})
    +signup()
