.button
  position relative
  display inline-block
  padding-top 0
  padding-bottom 0.25rem
  color color-first
  vertical-align bottom
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none

  &__element
    outline none
    cursor pointer
    width 100%
    min-width: 9.8rem
    padding 0.75rem 1.1rem 0.55rem
    font-size 1.04rem
    background-color color-first
    border-radius 0.25rem
    border 0.1rem solid color-first
    box-shadow 0 0.25rem 0 0 color-first-dark
    font-family LatoBlack, sans-serif
    font-weight bold
    color white
    text-transform uppercase
    vertical-align middle
    text-align center

    &[type = 'submit']:focus
      outline: 0.3rem auto #4d90fe

  &__ripple-effect
    position absolute
    width 1px
    height 1px
    border-radius 50%
    background #fafafa
    z-index 1
    animation ripple-animation 1s

  &_small &__element
    min-width 6.5rem
    padding 0.45rem 0.9rem 0.2rem
    font-size 0.87rem

  &_error
    color color-second

  &_error &__element
    background-color color-second
    border-color color-second
    box-shadow 0 0.25rem 0 0 color-second-dark

  &_pressed
    padding-bottom 0
    padding-top 0.25rem

  &_pressed &__element
    box-shadow none

  &.button_inverted &__element
    background-color white
    color inherit

@keyframes ripple-animation
  from
    transform scale(1)
    opacity 1

  to
    transform scale(50)
    opacity 0