@import '~theme/variables.scss';

.news {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex: 1 1;
  padding: 1.5rem;
  text-align: left;
  color: white;
  background-color: $color-second;
  align-items: stretch;
  justify-content: space-around;

  & > *:not(:first-child) {
    margin-top: 0.5rem;
  }

  &__title {
    overflow: hidden;
    flex-shrink: 0;
    text-overflow: ellipsis;
    font-family: LatoLight, sans-serif;
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  &__date {
    overflow: hidden;
    flex-shrink: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-family: LatoBlack, sans-serif;
    font-weight: bold;
  }

  &__description {
    overflow: hidden;
    flex: 1 1;
    text-overflow: ellipsis;
    font-family: LatoRegular, sans-serif;
  }
}
