//-
  options.title - название
  options.date - дата
  options.desc - описание
  options.text - обложка

mixin news(options)
  if !options
    - options = {}

  .news
    .news__title= options.title || ''
    .news__date= options.date || ''
    .news__description= options.desc || ''
    .news__text= options.text || ''