.slider

  & &__widget.ui-widget-content
    margin 0.6rem 0.8rem
    border none
    background-color #e5e5e5
    height 0.4rem

  & &__handle.ui-slider-handle
    width 1.5rem
    height 1.5rem
    border-radius 50%
    border none
    top -0.6rem
    margin-left -0.8rem
    display flex
    justify-content center
    cursor pointer

    &:focus
      outline none

    &.ui-state-active
      border none
      color inherit

  &__handle-tooltip
    background-color inherit
    border-radius 0.4rem
    padding 0.3rem 0.8rem
    color white
    font-size 1.1rem
    font-family LatoBlack, sans-serif
    font-weight bold
    position absolute
    bottom 140%
    display none
    justify-content center

    &_active
      display flex

    &::before
      content ''
      display block
      background-color inherit
      transform rotate(45deg)
      width 0.5rem
      height 0.5rem
      position absolute
      top 89%
      border-bottom-right-radius 1px

  &__scale
    display flex
    justify-content space-between
    margin-top 0.75rem
    padding 0 0.4rem

  &__scale-item
    font-family LatoBlack, sans-serif
    font-weight bold
    font-size 0.9rem
    color #d1d1d1